@{
	ViewBag.Title = "Ruslan Tsmykailo";
}
<h2>@ViewBag.Title.</h2>

<address>
	Kiev, Ukraine
	<br />
	
	<strong>Linkedin: </strong><a href="http://lnkd.in/V6imUZ" target="_blank">http://lnkd.in/V6imUZ</a><br />
	<strong>Cell phone: </strong>+38-096-106-08-11<br />
	<strong>Email: </strong>   <a href="mailto:ruslantsm@gmail.com">ruslantsm@gmail.com</a><br />
	<strong>Skype: </strong>ruslantsm<br />
	<strong>CV: </strong><a href="https://drive.google.com/file/d/0BxUR_e2pSO1RbEk0V05xcDFCeVk/view?usp=sharing" target="_blank"> CV</a><br />
</address>

